@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


/*TODO: work with react */
@keyframes desplegar {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: none;
    }
}

.card-submission-container {
    display: flex;
    flex-direction: column;
    width: 410px;
    border-radius: 20px;
    border: .2px solid var(--problem-view-background);
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: visible;

    height: auto;
    min-height: 300px;
}

#green-container {
    border-top: 2px solid var(--green-solid-color);
}

#red-container {
    border-top: 2px solid var(--red-solid-color);
}

.card-submission-main {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    gap: 50px;
    padding-left: 5px;

}

.card-submission-main img {
    cursor: pointer;
}

.card-submission-main img:hover {
    transform: translateY(-3px);
    filter: brightness(1.5);
}

.card-title {
    font-size: 27px;
    font-weight: var(--text-semibold);
}

#green-title {
    color: var(--green-solid-color);
    font-size: 27px;
    font-weight: var(--text-semibold);
}

#red-title {
    color: var(--red-solid-color);
    font-size: 27px;
    font-weight: var(--text-semibold);
    width: 100%;
}

.card-submission-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.card-submission-testcases {
    margin-bottom: -10px;
    font-size: 13px;
    color: var(--content-text-color);
    font-weight: var(--text-light);
}

.card-submission-date {
    font-size: 13px;
    color: var(--content-text-color);
    font-weight: var(--text-medium);
}

.accepted-submission-details {
    width: 426px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
    padding-top: 0;
}

.accepted-submission-individual-info {
    font-size: 14px;
    color: var(--content-text-color);
    font-weight: var(--text-light);
    padding-left: 10px;
}

.submission-code-content {
    border-radius: 20px;
    border: 1px solid var(--light-gray-color);
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    box-sizing: border-box;
    position: relative;
   
}

.accepted-submission-info-content p {
    padding-left: 24px;
    padding-top: 10px;
}

.submission-code-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

.submission-code-title {
    font-size: 14px;
    color: var(--content-text-color);
    font-weight: var(--text-light);
    padding-top: 15px;
}


.submission-code {
    font-family: "JetBrains Mono", monospace;
    color: var(--content-text-color);
    font-size: 13px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;

}


.submission-code-answer {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
    word-break: break-word;
    padding: 10px;
    scrollbar-color: auto var(--light-gray-color);
    scrollbar-base-color: none;
    box-sizing: border-box;
    flex: 1;
    max-height: 200px;
}

.submission-code-answer.expanded {
    overflow-y: auto;
    max-height: none;
    height: auto;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 10%;
    border-radius: 50px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--light-gray-color);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray-color);
}

::-webkit-scrollbar-track {
    background: transparent;
}


.submission-code-viewmore {
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    text-align: center;
    margin-left: -20px;
    font-weight: var(--text-semibold);
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--content-text-color);

}

.submission-code-viewmore:active {
    display: none;
    height: 100vh;
}

.submission-code-viewmore:active {
    display: block; 
    height: auto;
}

.ce-submission-code {
    background-color: #70343464;
    border-radius: 15px;
    white-space: pre-wrap;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--red-solid-color);
}

.accepted-submission-info-content {
    width: 188.5px;
    height: 40.7px;
    background-color: var(--dark-gray-background);
    border-radius: 10px;
    border-bottom: 2px solid var(--light-gray-color);
    margin-top: -10px;
    margin-left: -7px;
    color: var(--green-solid-color);
}