.submissions-container {
    background-color: var(--problem-view-background);
    border: 2px solid var(--gray-border-color);
    border-radius: 13px;
    width: 507px;
    height: 90vh;
    overflow-y: scroll;
    margin-top: -12px;
    position: relative;
    z-index: 4;
   
   
}

.submissions-container-header{
    height: 10px;
    width: 100%;
    background-color: var(--problem-view-background);
    position: sticky;
    top: 0;
     z-index: 6;
}

.submissions-main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 41px;
    margin-right: 55px;
    margin-bottom: 30px;
    gap:16px;
}

.submissions-main-title {
    font-size: 30px;
    font-weight: var(--text-semibold);
    margin-bottom: 15px;
    color: var(--title-color);
}

.problem-submission{
    display: flex;
    flex-direction: column;
   
    background-color: var(--dark-gray-background);
    border: 0.01px solid var(--dark-gray-background);
    border-radius: 13px;
    height: 72px;
    padding-top: 5.5px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    
}

#submission-green{
    border-bottom: 2px solid var(--green-solid-color);
}
#submission-green:hover{
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px var(--green-background-color);
}

#submission-red{
    border-bottom: 2px solid var(--red-solid-color);
}
#submission-red:hover{
    transform: translateY(-3px);
    box-shadow: 0px 4px 14px var(--red-background-color);
}

.submission-title{
    color:var(--title-color);
    font-size: 17px;
    font-weight: var(--text-semibold);
    width: 100%;
    margin-bottom: -6px;
}

#title-green{
    color: var(--green-solid-color);
}

#title-red{
    color: var(--red-solid-color);
}

.submission-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.submission-separator{
    width: 2.2px;
    height: 22px;
    margin-top:13px;
    background-color: var(--light-gray-color);
}

.submission-info{
    color: var(--content-text-color);
    font-size: 13px;
    font-weight: var(--text-light);
}

