@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --problem-view-background: #27293C;
    --green-color-background: #73b09979;
    --green-solid-color: #7AC7B5;
    --title-color: #FFFFFF;
    --content-text-color: #E9EBF4;
    --light-gray-color: #575971;
    --gray-color: #3C3E53;
    --gray-border-color: #6F7494;

    --text-light: 200;
    --text-regular: 300;
    --text-medium: 400;
    --text-semibold: 600;
    --text-bold: 700;

    font-family: 'Poppins', sans-serif;
    background-color: var(--problem-view-background);
}

/* upper tabs styles */

.tabs-group {
    display: flex;
    flex-direction: row;
    width: 511px;
    height: 60px;
    justify-content: center;
    padding-top: 2px;
   
    
}

.tabs-group button {
    flex: 1;
    background-color: #1c1d27d9;
    border: none;
    color: var(--title-color);
    font-weight: var(--text-semibold);
    font-size: 19px;
    cursor: pointer;
    padding-top: 9px;    
    padding-bottom: 20px;
    margin-bottom: 0px;
   
}

.description-button {
    margin-right: -20px;
    border-top-left-radius: 8px;
    padding-right: 20px;
}

.submissions-button {
    margin-left: -20px;
    border-top-right-radius: 8px;
    padding-left: 20px;
    
}


.description-button.active {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    background-color: var(--problem-view-background);
    border-top-left-radius: 8px;
    border-left: 2px solid var(--gray-border-color);
    border-top: 2px solid var(--gray-border-color);
    position: relative;
    z-index: 5;
}

.description-button.active::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12%;
    height: 83%;
    background: linear-gradient(64deg, 
                transparent calc(50% - 1px), 
                var(--gray-border-color) calc(10%),
                var(--gray-border-color) calc(52%),
                transparent calc(50% + 1.5px));
    
}

.submissions-button.active {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    background-color: var(--problem-view-background);
    border-top-right-radius: 8px;
    border-right: 2px solid var(--gray-border-color);
    border-top: 2px solid var(--gray-border-color);
    position: relative;
    z-index: 10;
}

.submissions-button.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12%;
    height: 83%;
    background: linear-gradient(115deg, 
                transparent calc(50% - 1.5px), 
                var(--gray-border-color) calc(10%),
                var(--gray-border-color) calc(54%),
                transparent calc(50% + 1.5px));
   
}
/* problem description styles */

.problem-container {
    background-color: var(--problem-view-background);
    border: 2px solid var(--gray-border-color);
    border-radius: 13px;
    width: 507px;
    height: 90vh;
    overflow-y: scroll;
    margin-top: -12px;

    position: relative;
    z-index: 4;
}

.problem-container-header{
    height: 10px;
    background-color: var(--problem-view-background);
    position: sticky;
    top: 0;
}

.problem-main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 41px;
    margin-right: 55px;
}

.problem-title {
    font-size: 25px;
    font-weight: var(--text-semibold);
    margin-bottom: 15px;
    color: var(--title-color);
}

.problem-difficulty {
    /* aligment */
    display: flex;
    justify-content: center;
    align-items: center;

    /* main style*/
    border: 2.5px solid var(--green-solid-color);
    background-color: var(--green-color-background);
    color: var(--green-solid-color);
    border-radius: 32px;
    padding-left: 8px;
    padding-right: 8px;
    width: 75px;
    height: 33px;
    margin-bottom: 29px;

    /*text style*/
    text-align: center;
    font-size: 15px;
    font-weight: var(--text-medium);
}

.problem-description strong {
    font-size: 20px;
    font-weight: var(--text-medium);
    color: var(--title-color);
}

.problem-description {
    color: var(--content-text-color);
    font-size: 13px;
    font-weight: var(--text-light);
}

.problem-footer {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.problem-pagination-button {
    background-color: transparent;
    border: none;
}

.problem-pagination-button:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

.problem-pagination-button:hover img {
    filter: brightness(1.5);

}

.problem-number {
    font-size: 28px;
    color: var(--title-color);
    font-weight: var(--text-semibold);

}

/* problem example styles */
.problem-example {
    display: flex;
    flex-direction: column;

}

.example-container {
    display: flex;
    gap: 9px;
}

.example-sidebar {
    width: 5px;
    background-color: var(--light-gray-color);
    margin-left: -13px;

}

.example-title {
    color: var(--title-color);
    font-weight: var(--text-medium);
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 29px;
}

.example-content {
    color: var(--content-text-color);
    font-size: 13px;
    font-weight: var(--text-light);
   margin-top: -2px;
}

.example-content ul {
    margin-left: -15px;
}

.example-content strong {
    font-weight: var(--text-semibold);

}